<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<style>
  input.ng-invalid{
    background-color: lightblue;
  }
</style>
<body>
    
    <!--    AngularJs Select 选择框  -->

     <!-- 
       AngularJS 可以使用数组或对象创建一个下拉列表选项。
      -->

      <!-- 
       使用 ng-options 创建选择框

        ng-init 设置默认选中值。

       在 AngularJS 中我们可以使用 ng-option 指令来创建一个下拉列表，列表项通过对象和数组循环输出，如下实例:
       -->

       
      <div ng-app="myApp" ng-controller="myCtrl">
         
         <!-- ng-repeat 有局限性，选择的值是一个字符串: -->
          <select ng-model="selectedSite1">
          <option ng-repeat="x in sites" value="{{x.url}}">{{x.site}}</option>
          </select>

          <h1>你选择的是: {{selectedSite1}}</h1>

         <!-- 使用 ng-options 指令，选择的值是一个对象： -->
         <select ng-model="selectedSite2"
           ng-options="x.site for x in sites">
         </select>

         <h1>你选择的是：{{selectedSite2.site}}</h1>
         <p>网址为: {{selectedSite2.url}}</p>
         
      </div>

      <script>
      var app = angular.module('myApp', []);

      app.controller('myCtrl', function($scope) {
            $scope.sites = [
                                {site : "Google", url : "http://www.google.com"},
                                {site : "Runoob", url : "http://www.runoob.com"},
                                {site : "Taobao", url : "http://www.taobao.com"}
                            ];
      });
      </script>
</body>
</html>