<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<!-- 为了让页面更加美观，我们可以在页面中使用CSS： -->
<style>
table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>
<body>
    
    <!--    AngularJs Select 表格  -->

     <!-- 
       ng-repeat 指令可以完美的显示表格
      -->

      <!-- 
       在表格中显示数据
  
       -->

       
      <div ng-app="myApp" ng-controller="myCtrl">
         

       <table>
         <tr ng-repeat="x in names">
            <td>{{x.Name}}</td>
            <td>{{x.Country}}</td>
         </tr>
       </table>
         
         -------------------------------------------------
         <br/>
         -------------------------------------------------

         <!-- 排序显示，可以使用 orderBy 过滤器:  -->
       <table>
         <tr ng-repeat="x in names | orderBy:'Country'">
            <td>{{x.Name}}</td>
            <td>{{x.Country}}</td>
         </tr>
       </table>

        -------------------------------------------------
         <br/>
         -------------------------------------------------

         <!-- 使用 uppercase 过滤器转换为大写:   -->
       <table>
         <tr ng-repeat="x in names">
            <td>{{x.Name}}</td>
            <td>{{x.Country | uppercase}}</td>
         </tr>
       </table>

        -------------------------------------------------
         <br/>
         -------------------------------------------------

         <!-- 表格显示序号可以在 <td> 中添加 $index:    -->
       <table>
         <tr ng-repeat="x in names">
            <td>{{$index+1}}</td>
            <td>{{x.Name}}</td>
            <td>{{x.Country | uppercase}}</td>
         </tr>
       </table>
         
         <!-- 使用 $even 和 $odd -->
        <table>
            <tr ng-repeat="x in names">
            <td ng-if="$odd" style="background-color:#f1f1f1">{{ x.Name }}</td>
            <td ng-if="$even">{{ x.Name }}</td>
            <td ng-if="$odd" style="background-color:#f1f1f1">{{ x.Country }}</td>
            <td ng-if="$even">{{ x.Country }}</td>
            </tr>
        </table>
      </div>

      <script>
      var app = angular.module('myApp', []);

      app.controller('myCtrl', function($scope,$http) {
          $http.get("Customers_JSON.json").then(function(result){
            $scope.names=result.data.records;
          })
      });
      </script>
</body>
</html>