<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<style>
  input.ng-invalid{
    background-color: lightblue;
  }
</style>
<body>
    
    <!--    AngularJs Scope作用域  -->

     <!-- 
      Scope(作用域) 是应用在 HTML (视图) 和 JavaScript (控制器)之间的纽带。
      Scope 是一个对象，有可用的方法和属性。
      Scope 可应用在视图和控制器上。
      -->

      <!-- 
        Scope概述
        
        AngularJS 应用组成如下：
            View(视图), 即 HTML。
            Model(模型), 当前视图中可用的数据。
            Controller(控制器), 即 JavaScript 函数，可以添加或修改属性。
        scope 是模型。
        scope 是一个 JavaScript对象，带有属性和方法，这些属性和方法可以在视图和控制器中使用。
       -->
     <div ng-app="myApp" ng-controller="myCtrl" >
       <input ng-model="name">
       <h1>{{greeting}}</h1>
       <button ng-click='sayHello()'>点我</button>
     </div>

     <script>
       var app=angular.module('myApp',[]);

       app.controller('myCtrl',function($scope){
          $scope.name='Runoob';
          $scope.sayHello=function(){
             $scope.greeting='Hello '+$scope.name+"!";
          };
       });
     </script>
</body>
</html>